<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 shadow">
  <a href="/" class="navbar-brand fw-bold" href="#">Call Center Platform</a>
   
  <div class="collapse navbar-collapse"> 
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a href="/agent" class="nav-link text-white px-3" style="cursor: pointer;">Agents</a>
      </li>
      <li class="nav-item">
        <a  href="/call-simulator" class="nav-link text-white px-3" style="cursor: pointer;">Simulate</a>
      </li>
    </ul>
  
  </div>
</nav>
<div class="container mt-4">
  <h2 class="mb-4 text-primary">Agent Management</h2>

  <!-- Add Agent form -->
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Add Agent</h5>
      <div class="row g-2">
        <div class="col-md-3">
          <input class="form-control" placeholder="Full name" [(ngModel)]="newAgent.fullName">
        </div>
        <div class="col-md-3">
          <input class="form-control" placeholder="Email" [(ngModel)]="newAgent.email">
        </div>
        <div class="col-md-2">
          <input class="form-control" placeholder="Extension" [(ngModel)]="newAgent.extension">
        </div>
        <div class="col-md-2">
        <select class="form-select" [(ngModel)]="newAgent.queueId">
            <option [ngValue]="null" disabled selected>Select Queue</option>
            @for (queue of queues; track queue.id) {
            <option [value]="queue.id">{{ queue.name }}</option>
            }
        </select>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary w-100" (click)="createAgent()">Add</button>
        </div>
      </div>
    </div>
  </div>

  @if (agents.length > 0) {
    <ul class="list-group">
      @for (agent of agents; track agent.id) {
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="md-4">
            <strong>{{ agent.fullName }}</strong>
          </div>
          <div class="md-4">
            <strong>{{ agent.queueName }}</strong>  
          </div>
          <div class="d-flex align-items-center gap-2">
            <span [class]="'badge rounded-pill ' + statusClass(agent.status)">{{ agent.status }}</span>

            <select class="form-select form-select-sm" style="width:auto"
                    [ngModel]="agent.status" (ngModelChange)="changeStatus(agent, $event)">
              @for (s of statuses; track s) {
                <option [value]="s">{{ s }}</option>
              }
            </select>

            <button class="btn btn-sm btn-outline-danger" (click)="deleteAgent(agent.id)">Delete</button>
          </div>
        </li>
      }
    </ul>
  } @else {
    <div class="alert alert-warning" role="alert">No agents available. Add one above.</div>
  }
</div>